@media (min-width: 320px) {
  .companyLogo {
    width: 50px;
    padding: 10px;
    padding-right: 0;
  }

  .navigation-desktop {
    display: none;
  }

  .dropdown {
    position: relative;
    display: block;
    width: 100%;
  }

  .dropdown-content {
    background-color: white;
    width: 100%;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;

    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .navigation-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: #868686;
    font-family: "Lato - regular";
  }
  nav > ul > li {
    padding: 7.5px 19.8px;
  }

  nav > ul > li:hover {
    background-color: #ffbb42;
    color: white;
  }
}

@media (min-width: 1100px) {
  .companyLogo {
    padding: 0;
  }

  .dropdown {
    display: none;
  }
  .dropdown:hover {
    display: none;
  }
  .navigation-desktop {
    max-width: 1170px;
    display: flex;
    padding: 22.5px 0;
    margin: 0 auto;
    justify-content: space-between;
  }
  .navigation-list {
    flex-direction: row;
    margin: 0;
  }
  .navigation-list > li:not(:last-child) {
    margin-right: 29px;
  }
}
